.container0 {
    /* 先預設 防止爆版 */
    padding: 0;
    margin: 0;
    color: antiquewhite;
    background-color: black;
    padding-top: 3vh;
}
.font0 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.LOGO {
    font-size: 3vw;
    padding: 0.5vw 0 1vw 2vw;
    cursor: pointer;
    margin-right: 15vw;
    /* 順序上右下左 */
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
}
.navbar0 {
    font-size: 1vh;
    /* 順序上右下左 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
}
.topNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn0 {
    /* border-radius: 999px; */
    /* background-color: burlywood; */
    /* border: 1vh solid #fff; */
    /* 順序上右下左 */
    padding: 0 3vw 0 0;
    font-size: 4vh;
    color: white;
    cursor: pointer;
}
.article0 {
    margin: 2vw;
    padding: 1vw;
    border-radius: 1vw;
    background-color: rgb(50, 50, 50);
}
.footer0 {
    font-size: 3vh;
    height: 10vh;
    background-color: rgb(50, 50, 50);
}
.txt0 {
    margin: 3vh 0 2vh 1vw;
}
.imgBN {
    height: 90vh;
    object-fit: cover;
}
/* imgm用figure包住 */
.figure {
    display: inline-flex;
    /* 圖片堆疊 */
    width: 20vw;
    height: 25vh;
    margin: 1vw !important;
    overflow: hidden;
}
.pic0 {
    border-radius: 2%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
img {
    transform: scale(1, 1);
    transition: all 1s ease-out;
}
img:hover {
    transform: scale(1.2, 1.2);
}
