<!-- LOGO跟navbar常見的方式 -->
<style>
    .header {
        display: flex;
        padding: 10;
        justify-content: space-between;
        /* 首尾貼邊，中間平均分配空白 */
    }
</style>

<header class="header container0" style="background-color: black">
    <!-- body中不能head -->
    <div class="topNav">
        <div class="LOGO"><a href="/Index.html">ZongLi Portfolio</a></div>
        <nav class="nav">
            <ul class="navbar0" style="list-style-type: none">
                <li class="btn0">
                    <a href="/About.html">About</a>
                </li>
                <li class="btn0">
                    <a href="/MattePainting.html">MattePainting</a>
                </li>
                <li class="btn0">
                    <a href="/ConceptArt.html">ConceptArt</a>
                </li>
                <li class="btn0">
                    <a href="https://www.artstation.com/zongli">Portfolio</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
